<!-- why_us snippet -->
<div class="tab-pane fade" id="{{ block.settings.tabs_link }}">
  <div class="desktop_why_us">
          <h2 class="border-bottom">{{ block.settings.tabs_head }}</h2>
          <div class="row why_us_content_row">
      <div class="col-md-4 nav_tabs why_us_navs">
        
          <ul class="why_us nav nav-tabs" role="tablist">
      <li>
          <a href="#{{ block.settings.inner_tabs_link }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link2 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head2 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link3 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head3 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link4 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head4 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link5 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head5 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link6 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head6 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link7 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head7 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link8 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head8 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link9 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head9 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link10 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head10 }}
          </a>
      </li>
      <li>
          <a href="#{{ block.settings.inner_tabs_link11 }}" role="tab" data-toggle="tab">
              {{ block.settings.inner_tabs_head11 }}
          </a>
      </li>
      </ul>
          </div>
        <div class="col-md-8 why_us_tab_pane ">
         
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link }}">
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head }}</h1>
            <p>{{ block.settings.inner_tabs_desc }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link2 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head2 }}</h1>
            <p>{{ block.settings.inner_tabs_desc2 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link3 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head3 }}</h1>
            <p>{{ block.settings.inner_tabs_desc3 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link4 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head4 }}</h1>
            <p>{{ block.settings.inner_tabs_desc4 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link5 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head5 }}</h1>
            <p>{{ block.settings.inner_tabs_desc5 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link6 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head6 }}</h1>
            <p>{{ block.settings.inner_tabs_desc6 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link7 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head7 }}</h1>
            <p>{{ block.settings.inner_tabs_desc7 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link8 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head8 }}</h1>
            <p>{{ block.settings.inner_tabs_desc8 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link9 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head9 }}</h1>
            <p>{{ block.settings.inner_tabs_desc9 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link10 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head10 }}</h1>
            <p>{{ block.settings.inner_tabs_desc10 }}</p>
          </div>
          <div class="tab-pane fade" id="{{ block.settings.inner_tabs_link11 }}">
          
            <h1 class="tab_pane_heading">{{ block.settings.inner_tabs_head11 }}</h1>
            <p> {{ block.settings.inner_tabs_desc11 }}</p>
          </div>
          
        </div>
          </div>
  </div>
  
  <div class="mobile_why_us">
          <h2 class="border-bottom">{{ block.settings.tabs_head }}</h2>
          <div class="row why_us_content_row">
      <div class="col-md-12 nav_tabs why_us_navs">
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head }}</a>
        <p> {{ block.settings.inner_tabs_desc }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head2 }}</a>
        <p> {{ block.settings.inner_tabs_desc2 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head3 }}</a>
        <p> {{ block.settings.inner_tabs_desc3 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head4 }}</a>
        <p> {{ block.settings.inner_tabs_desc4 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head5 }}</a>
        <p> {{ block.settings.inner_tabs_desc5 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head6 }}</a>
        <p> {{ block.settings.inner_tabs_desc6 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head7 }}</a>
        <p> {{ block.settings.inner_tabs_desc7 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head8 }}</a>
        <p> {{ block.settings.inner_tabs_desc8 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head9 }}</a>
        <p> {{ block.settings.inner_tabs_desc9 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head10 }}</a>
        <p> {{ block.settings.inner_tabs_desc10 }}</p>
       </div>
       <div class="mob_why_us_tab">
        <a href="javascript:void(0)">{{ block.settings.inner_tabs_head11 }}</a>
        <p> {{ block.settings.inner_tabs_desc11 }}</p>
       </div>
          
      </div>
  </div>
</div>
</div>
<!-- why_us snippet -->