<div class="row">
  <div class="col-md-8 rte page_content">
    {% include 'parse-for-icons' content: page.content %}

    <div class="mt-50 pt-15 single_project_sidebar nav_tabs why_us_navs mobile_only">
      <ul class="why_us nav nav-tabs tabs-left">
        {% for value in page.metafields.tabs_link.tabs_link %}
        <li>
          <a href="#{{ page.metafields.tabs_link.tabs_link[forloop.index0] }}" role="tab" data-toggle="tab">
            {{page.metafields.tabs_head.tabs_head[forloop.index0] }}
          </a>
        </li>
        {% endfor %}
      </ul>

    </div>
    <div class="tab-content pb-80">
      {% for value in page.metafields.tabs_link.tabs_link %}
      <div class="tab-pane fade p-0" id="{{ page.metafields.tabs_link.tabs_link[forloop.index0] | handle }}">
        <h2 class="pt-50 mb-10"><strong>{{page.metafields.tabs_head.tabs_head[forloop.index0]}}</strong></h2>
        {{page.metafields.tabs_content.tabs_content[forloop.index0]}}
      </div>
      {% endfor %}
    </div>
    <div class="row social_share">
      <div class="col-1 pr-md-5 mb-20">
        <p class="mt-5 mb-0">{{ 'blogs.article.share' | t }}</p>
      </div>
      <div class="col-11 mb-20">
        {% render 'social-share' share_type: section.settings.social_share_buttons_type share_title: article.title share_permalink: article.url share_image: article.image %}
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-100 pt-15 single_project_sidebar nav_tabs why_us_navs desktop_only">
    <ul class="why_us nav nav-tabs tabs-left">
      {% for value in page.metafields.tabs_link.tabs_link %}
      <li>
        <a href="#{{ page.metafields.tabs_link.tabs_link[forloop.index0] | handle }}" role="tab" data-toggle="tab">
          {{page.metafields.tabs_head.tabs_head[forloop.index0]}}
        </a>
      </li>
      {% endfor %}
    </ul>


  </div>
</div>

<script>

  $(document).ready(function(){
    $(".tab-content .tab-pane:nth-child(1)").addClass('active');
    $(".tab-content .tab-pane:nth-child(1)").addClass('in');
    $(".nav-tabs li:nth-child(1)").addClass('active');

    $(".mob_why_us_tab a").click(function(e){
      e.preventDefault();
      var child = $(this).siblings("p"),
          rest = $('p:visible').not(child),
          main = $(this),
          notmain = $(".mob_why_us_tab a").not(main);

      child.slideToggle(); //toggle current one
      rest.slideUp(); //close the rest
      main.toggleClass('active') ;
      notmain.removeClass('active')

    });

  });


</script>


{% schema %}
{
"name": "Sidebar",
"settings": [],
"blocks": [
{
"type": "single_project_sidebar",
"name": "Single Project Sidebar",
"settings": [
{
"id": "tabs_link",
"type": "text",
"label": "Tabs Link",
"info": "Don't give space use underscore. example:- tab_link"
},
{
"id": "tabs_head",
"type": "text",
"label": "Tabs Title"
},
{
"id": "tabs_content",
"type": "textarea",
"label": "Tabs Content"
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
